.people-are__talking {
  background-image: url("../../dist/images/testmonials-bg1(1).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-container {
  padding: 0 10px;
}

.logo-container__title {
  display: flex;
  justify-content: center;
}

.logo-container__title-text {
  margin-top: 57px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.logo-and__text-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__block {
  display: flex;
  justify-content: center;
}

.block-text__logo {
  margin: 30px 25px 0;
  width: 270px;
}

.text__logo {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.text-logo__column {
  width: 245px;
  margin: 0 auto;
}

.text__block-bottom__logo {
  margin: 35px auto 0;
  width: 256px;
}

.text-bottom__logo {
  padding-top: 35px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  color: #a291a5;
}


.text-bottom__logo::after {
  content: " ";
  max-width: 245px;
  height: 2px;
  background: #645766;
  display: block;
  margin-top: 20px;
  margin: 20px auto 0;
}

@media (min-width: 481px) and (max-width: 992px) {
  .logo-post__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .logo-and__text-container {
    width: 50%;
  }

  .block-text__logo {
    max-width: 95%;
    width: 277px;
  }

  .text__logo {
    display: block;
    flex-direction: initial;
    align-items: initial;
  }

  .pixel__buddha-text {
    margin-top: 67px;
  }

  .text-logo__column {
    width: 95%;
  }

  .tnw__block {
    margin-top: 50px;
  }

  .text__block-bottom__logo {
    width: 95%;
  }

  .text-bottom__logo::after {
    max-width: 555px;
  }
}

/* Для ширины экрана от 993 */
@media (min-width: 993px) {
  .logo-container__title-text {
    margin-top: 100px;
  }

  .logo-post__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
  }

  .logo-and__text-container {
    max-width: 30%;
  }

  .block-logo__text {
    margin-top: 15px;
  }

  .text__logo {
    display: block;
    flex-direction: initial;
    align-items: initial;
  }

  .text__block-bottom__logo {
    width: 75%;
  }

  .text-bottom__logo::after {
    max-width: 780px;
  }
}
